build/
.vscode/
lib/
lib/.DS_Store
tests/data/.DS_Store
tests/.DS_Store
src/.DS_Store
.DS_Store
.gitignore
lib/.DS_Store

.DS_Store

lib/.DS_Store
tests/.DS_Store
.DS_Store
release/backtester_head.hpp
release/backtester_prep.cpp
release/backtester.cpp
release/backtester.hpp
release/head_prep.hpp
